@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --montse: 'Montserrat', sans-serif;
  /* Primary color palette */
  --white: #fff;
  --black: #000;
  --black-blur: #19222e;
  --black-faded: #233142;
  --mainly-blue: #264653;
  --mainly-green: #2a9d8f;
  --lavender: #dfdbe5;
  --mustard: #e9c46a;
  --orangish: #f4a261;
  --coralish: #e76f51;
  /* Secondary palette */
  --lightgray: #e3e3e3;
  --vanilla: #f2ece4;
  --seablue: #b2c9d8;
  --bluehover: #ccdfeb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--coralish) var(--orangish);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--coralish);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orangish);
  border-radius: 20px;
  border: 3px solid var(--coralish);
}

body {
  color: #0f1621;
  background-color: transparent;
  font-size: 15px;
  line-height: 22px;
}

.container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin-right: inherit;
  margin-left: 0px;
  width: 100%;
}

.container p {
  max-width: 640px;
  text-rendering: optimizeLegibility;
}

#main {
  display: none;
}

#selectOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em;
  padding: 2em;
}

#map {
  width: 95%;
  height: 450px;
  background-color: #e4e6e9;
}

#panel {
  width: vw100;
  overflow: auto;
  background: inherit;
}

.hidden {
  display: none !important;
}
