@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --montse: 'Montserrat', sans-serif;
  --text-color: #000;
  --button-text-color: #000;
  --white: #fff;
  --offwhite: #f8f8f8;
  --black: #000;
  --black-blur: #333;
  --black-faded: #233142;
  --mainly-blue: #264653;
  --mainly-green: #2a9d8f;
  --lavender: #dfdbe5;
  --mustard: #e9c46a;
  --sky: #87ceeb;
  --seafoam: #a8f0cb;
  /* Secondary palette */
  --lightgray: #e3e3e3;
  --vanilla: #f2ece4;
  --seablue: #b2c9d8;
  --bluehover: #ccdfeb;

  [data-theme='dark'] {
    --background-color: var(--black-blur);
    --button-background-color: var(--white);
    --modal-background-color: var(--black-blur);
    --button-background-hover-color: var(--offwhite);
    --button-text-hover-color: var(--black);
    --text-color: var(--white);
    --button-text-color: var(--black);
  }

  [data-theme='light'] {
    --background-color: var(--white);
    --button-background-color: var(--black-blur);
    --modal-background-color: var(--white);
    --button-background-hover-color: var(--black-faded);
    --button-text-hover-color: var(--white);
    --text-color: var(--black);
    --button-text-color: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--seafoam) var(--sky);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--seafoam);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sky);
  border-radius: 20px;
  border: 3px solid var(--seafoam);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 22px;
  font-family: var(--montse), 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.home {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mode-toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.container p {
  max-width: 640px;
  text-rendering: optimizeLegibility;
}

#main {
  display: none;
}

#selectOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em;
  padding: 2em;
}

#select-container {
  display: none;
}

.map-icon {
  color: var(--text-color);
}

button,
.btn {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

button:hover,
.btn:hover {
  transform: scale(1.05);
  background-color: var(--button-background-hover-color);
  color: var(--button-text-hover-color);
}

button:active,
.btn:active {
  transform: scale(0.95);
  background-color: var(--button-background-color) !important;
  color: var(--button-text-color) !important;
}

.page-header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
label,
li,
span,
select,
option,
textarea {
  color: var(--text-color);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 80vw;
  height: 70vh;
  background-color: #e4e6e9;
}

#panel {
  width: 100vw;
  overflow: auto;
  background: inherit;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

/* Modal */
.modal-header,
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--modal-background-color);
  color: var(--text-color);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* Info bubble  */
.H_ib_content > div > h1,
.H_ib_content > div > h2,
.H_ib_content > div > h3 {
  color: #fff;
}

.H_ib_body {
  width: 225px;
  height: auto;
  font-weight: 800;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.H_ib_body:hover {
  cursor: pointer;
}

.H_ib_tail::after {
  border-style: hidden;
}

.H_ib_content {
  max-width: 275px;
  font-size: 13px;
}

/* X marker on bubble */
.H_ib_close {
  position: revert;
  width: 15px;
  padding: 1em;
}

.H_ib_close svg.H_icon {
  border: 2px solid gray;
  padding: 1em;
  width: 2.25em;
  border-radius: 100%;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .home {
    padding: 2em;
  }

  .button-container {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 901px) {
  html {
    font-size: 18px;
  }
}
