@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --montse: 'Montserrat', sans-serif;
  /* Primary color palette */
  --white: #fff;
  --black: #000;
  --black-blur: #19222e;
  --black-faded: #233142;
  --mainly-blue: #264653;
  --mainly-green: #2a9d8f;
  --lavender: #dfdbe5;
  --mustard: #e9c46a;
  --sky: #87ceeb;
  --seafoam: #a8f0cb;
  /* Secondary palette */
  --lightgray: #e3e3e3;
  --vanilla: #f2ece4;
  --seablue: #b2c9d8;
  --bluehover: #ccdfeb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--seafoam) var(--sky);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--seafoam);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sky);
  border-radius: 20px;
  border: 3px solid var(--seafoam);
}

body {
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--montse), 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container p {
  max-width: 640px;
  text-rendering: optimizeLegibility;
}

#main {
  display: none;
}

#selectOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em;
  padding: 2em;
}

#select-container {
  display: none;
}

button {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 80vw;
  height: 70vh;
  background-color: #e4e6e9;
}

#panel {
  width: 100vw;
  overflow: auto;
  background: inherit;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

/* Info bubble  */
.H_ib_content > div > h1,
.H_ib_content > div > h2,
.H_ib_content > div > h3 {
  color: #fff;
}

.H_ib_body {
  width: 225px;
  height: auto;
  font-weight: 800;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.H_ib_body:hover {
  cursor: pointer;
}

.H_ib_tail::after {
  border-style: hidden;
}

.H_ib_content {
  max-width: 275px;
  font-size: 13px;
}

/* X marker on bubble */
.H_ib_close {
  position: revert;
  width: 15px;
  padding: 1em;
}

.H_ib_close svg.H_icon {
  border: 2px solid gray;
  padding: 1em;
  width: 2.25em;
  border-radius: 100%;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .button-container {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 901px) {
  body {
    font-size: 18px;
  }
}
